/*navigation */
.nav-menu {
  width: 30%;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}


/* General */
input {
  outline: none;
  border: none;
}

.search-title-text  {
  margin-top: -0.2rem;
  margin-left: 0.5rem;
  color: #000;
}

.forgot-password {
  margin-top: -1.5rem;
}

.form-item-input {
  border-radius: 8px;
  border: 1px solid red;
}
.red_asterik {
  margin-left: 0.25rem;
  color: red;
}

.form-item-title {
  color: black;
  display: flex;
  margin-bottom: -0.5rem;
}

.create_account_title {
  font-weight: 400;
  color: rgb(134, 142, 150);
}
.create_account_navigation {
  margin-left: 0.25rem;
  color: rgb(28, 126, 214);
  text-decoration: none;
}

/* login form  */
.main_form_body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background: rgba(22, 13, 148, 0.322); */
}

.form__container {
  border-radius: 8px;
  border: 1px solid rgb(233, 236, 239);
  padding: 70px 70px 100px 70px;
  width: 450px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  /* border-radius: 5%; */
  /* background: rgba(22, 13, 148, 0.322); */
}

.register__form__container {
  border-radius: 8px;
  border: 1px solid rgb(233, 236, 239);
  padding: 70px 70px 100px 70px;
  width: 700px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  /* border-radius: 5%; */
  /* background: rgba(22, 13, 148, 0.322); */
}
.steps-action {
  margin-top: 24px;
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  /* padding-top: 10px; */
  text-align: center;
  /* background-color: #fafafa; */
  /* border: 1px dashed #e9e9e9; */
  border-radius: 2px;
}

.login-form-button {
  width: 100%;
  height: 100px;
}

.google-button {
  width: 100%;
  height: 50px;
}

/* All table */
.ant-table-body {
  min-height: 350px;
}

/* All Links */
.LinkDecorations {
  text-decoration: none;
  /* color: white !important; */
}